<div class="col-sm-3">
	<div class="left-sidebar">
		<h2>Category</h2>
		<div
			class="panel-group category-products" id="accordian">
			<!--category-productsr-->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#computers">
							<span class="badge pull-right">
								<i class="fa fa-plus"></i>
							</span>
							Computers
						</a>
					</h4>
				</div>
				<div id="computers" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">Servers</a></li>
							<li><a href="#">Workstations</a></li>
							<li><a href="#">All-in-ones</a></li>
							<li><a href="#">Towers</a></li>
							<li><a href="#">Laptops</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#tablets">
							<span class="badge pull-right">
								<i class="fa fa-plus"></i>
							</span>
							Tablets
						</a>
					</h4>
				</div>
				<div id="tablets" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Apple</a></li>
							<li><a href="#">Google</a></li>
							<li><a href="#">Nexus</a></li>
							<li><a href="#">Microsoft</a></li>
							<li><a href="#">Lenovo</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#printers">
							<span class="badge pull-right">
								<i class="fa fa-plus"></i>
							</span>
							Printers
						</a>
					</h4>
				</div>
				<div id="printers" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">All</a></li>
							<li><a href="#">Per Brand</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordian" href="#accessories">
							<span class="badge pull-right">
								<i class="fa fa-plus"></i>
							</span>
							Accessories
						</a>
					</h4>
				</div>
				<div id="accessories" class="panel-collapse collapse">
					<div class="panel-body">
						<ul>
							<li><a href="#">RAM</a></li>
							<li><a href="#">Stockage</a></li>
							<li><a href="#">Cards</a></li>
							<li><a href="#">Cams</a></li>
							<li><a href="#">CPUs</a></li>
							<li><a href="#">Cards</a></li>
							<li><a href="#">Cams</a></li>
							<li><a href="#">DVR</a></li>
							<li><a href="#">Screens</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a href="#">Network and Security</a>
					</h4>
				</div>
			</div>
		</div>
		<!--/category-products-->

		<div
			class="brands_products">
			<!--brands_products-->
			<h2>Brands</h2>
			<div class="brands-name">
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a href="#">
							<span class="pull-right">(50)</span>DELL</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(56)</span>HP</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(27)</span>CANON</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(32)</span>ASUS</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(5)</span>SONY</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(9)</span>LENOVO</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(4)</span>SAMSUNG</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(27)</span>APPLE</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(32)</span>IBM</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(5)</span>CISCO</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(9)</span>TPLINK</a>
					</li>
					<li>
						<a href="#">
							<span class="pull-right">(4)</span>TOSHIBA</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/brands_products-->

		<div
			class="price-range">
			<!--price-range-->
			<h2>Price Range</h2>
			<div class="well text-center">
				<input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br/>
				<b class="pull-left">$ 0</b>
				<b class="pull-right">$ 600</b>
			</div>
		</div>
		<!--/price-range-->

		<div
			class="shipping text-center">
			<!--shipping-->
			<img src="images/home/shipping.jpg" alt=""/>
		</div>
		<!--/shipping-->

	</div>
</div>
